body {
    background-color: black;
}

i.fa-bookmark {
    margin-left: 10rem;
    padding-left: 30px;
}

.card-text {
    font-size: small;
}

div.logo {
    font-size: xx-large;
}

span.name {
    font-size: small
}

div.dots {
    font-size: x-large;
}

div.card {
    margin-top: 100px;
}



